* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: rgba(255,255,255,0.05);
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar li {
  cursor: pointer;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6366f1, #22d3ee);
}

.hero span {
  color: #0f172a;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: #0f172a;
  color: white;
}

/* Sections */
section {
  padding: 60px 10%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Skills */
.skill-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.skill-box span {
  background: #1e293b;
  padding: 10px 20px;
  border-radius: 20px;
}

/* Projects */
.projects {
  display: grid;
  gap: 20px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

.profileimg {
  width: 150px;
  height: 150px;
  border-radius: 80%;
  object-fit: cover;
  margin-bottom: 20px;
  border: #0f172a 5px solid;
  transition: transform 0.3s;
  border: 4px solid transparent;
  background:
    linear-gradient(#0f172a, #0f172a) padding-box,
    linear-gradient(135deg, #6366f1, #22d3ee) border-box;

}
.profileimg:hover {
  transform: scale(1.05);
  border-color: #11fda2;
}
.head {
  padding-bottom: 20%;
  color: #0f172a;
 
 
  
  
  
}